{% if not_only_options %}
    <form class="disableAjax" method="post" action="{{ form_action|raw }}">
        {% if omit_fieldset == false %}
            <fieldset class="pma-fieldset">
        {% endif %}
        {{ get_hidden_fields([]) }}
        <label for="select_server">
          {% trans 'Current server:' %}
          <strong>{{ (servers.select|first).label }}</strong>
        </label>
        {% if omit_fieldset == false %}
            </fieldset>
        {% endif %}
    </form>
{% elseif servers.list %}
    {% trans 'Current server:' %}<br>
    <ul id="list_server">
        <li>
            {% for server in servers.list %}
                {% if server.selected %}
                    <strong>{{ server.label }}</strong>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
{% endif %}
